@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <hr />
    <div class="card mt-5">
        <div class="card-header">
            <h2 class="card-title">Welcome to User Manage Identity App</h2>
        </div>
        <div class="card-body">
            <p>
                Use the navigation links to make change to users and roles in the system
            </p>
        </div>
        <div class="card-footer">
            <p>
                Admin Credintials
            </p>
        </div>
    </div>
</div>